[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/neocomplcache"]
	path = _vim/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "_oh-my-zsh"]
	path = _oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "_vim/bundle/snipmate"]
	path = _vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "_vim/bundle/surround"]
	path = _vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/Syntastic"]
	path = _vim/bundle/Syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "_vim/bundle/pep8"]
	path = _vim/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
