[submodule "_vim/bundle/vim-colors-solarized"]
	path = _vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
